:root {
  --basic-brown: #766357;
  --basic-grey: #eeeeee;
  --basic-blue: #81b3d2;
  --basic-white: #ffffff;
  --basic-footer: rgba(255, 255, 255, 0.9);
  --special-grey: #f2f2f2;
  --basic-black: #000000;
  --special-brown: #604e43;
  --special-brown-active: #503e33;
  --special-blue: #669ec0;
  --special-blue-active: #5496bd;
  --special-grey-active: #BDBBBC;
  --special-background:#ababab;
}

/* Global */
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial Rounded MT Bold", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Ссылки */
a {
  text-decoration: none;
}

/* Дефолтный размер изображений */
img {
  max-width: 100%;
  height: auto;
}
ul, p, h1, h2, h3{
  margin: 0;
  padding: 0;
}
/* Гриды */
.page {
  height: 100%;
}
.main-header {
  margin-bottom: 70px;
}
.main-header-logo{
justify-self: center;
}
.item-decoration-blue{
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.container{
  display:grid;
  justify-self: center;
}
.container-catalog{
  display: grid;
  grid-template-columns: 326px 485px 1fr;
}
.filter-item-1{
  grid-column-start: 1;
  grid-column-end: 2;
}
.filter-item-2{
  grid-column-start: 2;
  grid-column-end: 3;
}
.filter-item-3{
  grid-column-start: 3;
  grid-column-end: -1;
}
/* Меню навигации */
.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  background-color: transparent;
}
.site-navigation {
  list-style: none;
}

/* Навигация-состояния */
.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
}
.site-navigation-item-inner{
  color: var(--basic-brown);
}
/* Описание сайта */
.site-description {
  text-align: center;
}
/* Преимущества */
.features-list {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.features-list-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}
.item-decoration-grey {
  background-color: var(--basic-grey);
}
.item-decoration-blue div:first-child{
  color: var(--basic-white);
  background-color: var(--basic-blue);
}
.features-list h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}
.advertising-info {
  text-align: center;
}
/* Поиск гостинцы внутренняя страница */
.container-catalog{
/* Добавить фоновое изображение! */
background-repeat: no-repeat;
background-color: var(--special-background);
background-image: url(img/background-sedonaview-filter.jpg);
}
.inner-block{
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  border: none;
  color: var(--basic-white);
}
.inner-block-list{
list-style: none;
color: var(--basic-white);
}
/* Кнопка внутренней страницы */
.button-show-results{
  text-transform: uppercase;
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  background-color: transparent;
}
/* Кнопка внутренней станицы состояния */
.button-show-results:hover,
.button-show-results:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}
.filter-count{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
.filter-sort{
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.filter-sort-button{
  text-transform: uppercase;
  font: inherit;
  text-align: center;
  color:var(--basic-black);
  opacity: 0.3;
  vertical-align: middle;
  background-color: transparent;
  border: none;
  border-bottom: dashed;
}
.filter-sort-button:hover,
.filter-sort-button:focus{
  color: var(--basic-blue);
  opacity: 1;
}
.filter-sort-button:active{
  color: var(--basic-black);
  border-bottom: none;
  opacity: 1;
}
.filter-results{
  list-style: none;
}
.filter-results p{
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
.rating{
  background-color: var(--special-grey);
}
/* Кнопка поиска гостиницы */
.button-hotel-search {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-brown);
  border: none;
}
/* Кнопка поиска гостиницы состояния*/
.button-hotel-search:hover,
.button-hotel-search:focus {
  background-color: var(--special-brown);
}
.button-hotel-search:active {
  background-color: var(--special-brown-active);
  color: rgba(255, 255, 255, 0.3);
}

/* Календарь */
.calendar-list {
  list-style: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}
.calendar-button {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  background-color: var(--special-grey);
  border: none;
}
.members-count {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  background-color: var(--special-grey);
  border: none;
}
.button-find {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  border: none;
}
/* Кнопка календаря состояния */
.button-find:hover,
.button-find:focus {
  background-color: var(--special-blue);
}
.button-find:active {
  background-color: var(--special-blue-active);
  color: rgba(255, 255, 255, 0.3);
}

/* Контакная информация */
.main-footer {
  background-color: rgba(255, 255, 255, 0.9);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer-contacts {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
.footer-hashtag {
  color: inherit;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
.footer-phone {
  color: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
/* Соцсети */
.footer-social {
  text-align: center;
  width: 150px;
  justify-self: center;
}
.social-list {
  list-style: none;;
}
.social-button {
  background: var(--basic-blue);
  width: 46px;
  height: 48px;
  margin: 6px;
}
.footer-copyrigh{
  max-width: 197px;
  margin: 0;
  justify-self: end;
}
/* Кнопки соцсетей состояния */

.social-button:hover,
.social-button:focus {
  background: var(--special-blue);
}
.social-button:active {
  background: var(--special-blue-active);
}
.social-button a:active {
opacity: 0.3;
}

/* Копирайт */
.footer-copyright {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}
/* Копирайт состояния */
.html-icon{
  fill:var(--basic-black);
}
.htmlacademy-copyright svg:hover{
fill: var(--basic-blue);
}
.htmlacademy-copyright svg:active{
  fill: var(--special-grey-active);
}